@font-face {
    font-family: 'ANS';
    src: url('ANS-Regular.woff2') format('woff2'),
        url('ANS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ANS';
    src: url('ANS-Regular.woff2') format('woff2'),
        url('ANS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

